<div id = "whole" [class.dark-mode] = "darkmode" class = "position-absolute h-100 w-100">
  <h1>Simple Calculator</h1>
  <div class = "container .container-sm" id = "whole">
    <div class="form-group">
      <label>Number 1</label>
      <app-numbers (numberEvent) = "getFirstNum($event.toString())"></app-numbers>
    </div>
    <div class="form-group">
      <label>Number 2</label>
      <app-numbers (numberEvent) = "getSecondNum($event.toString())"></app-numbers>
    </div>

    <div class = "form-group" id = "buttons">
    <app-operation (operationEvent) = "getOperation($event.toString())"></app-operation>
    </div>

    <div *ngIf="this.operation != ''"></div>
      <app-result [num1] = "this.firstNum" [num2] = "this.secondNum" [operation] = "this.operation"></app-result>

  </div>
  <button (click) = "toggleDarkMode()" type = "button" class="btn btn-dark" id = "themeToggle">Toggle Theme</button>
</div>